<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}{% endblock %}
</head>
<body>
      <nav class="navbar">
    <span class="navbar-title">AKALI</span>
    <a href="{{ url_for('create_hobby') }}">Hobbies</a>
    <a href="{{ url_for('movies') }}">Películas</a>
    <a href="{{ url_for('create_schedule_item') }}">Mi horario</a>
    <a href="{{ url_for('habitos') }}">Hábitos</a>
    <a href="{{ url_for('tasks') }}">Lista de tareas</a>
    </nav>
    {% block body %}{% endblock %}
</body>
</html>