{% extends "base.html" %}

{% block head %}
<title>Juegos</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
{% endblock %}

    {% block body %}
    <div class = 'blackjack-playing'>
    </div> 
        {% if state %} 
    {% if state.turn < 2 %} 

    
    
    
    {% if state.turn == 0 %}
    <div class = 'container-games'>
    <a class="blackjack-btn" href="{{url_for('games.blackjack', action = '1')}}">HIT</a>
    <a  class="blackjack-btn" href="{{url_for('games.blackjack', action = '0')}}">STAY</a>
    </div>

    <div class = 'container-games' style = 'padding : 1%; align-items: center;'>
    {% for card in state.player_hand %}
    <p>{{card.name}}</p>
    {% endfor %}
</div>
    <p class = 'container-games'> your score : {{state.player_score()}}</p>
    

    <div><p> dealer card is a {{state.dealer_hand[0].name}}</p></div>
    <div><p> dealer score is  {{state.dealer_score(hide = True)}}</p></div>
    {% elif state.turn == 1 %}

        <div class = 'container-games'>
        {% for card in state.player_hand %}
        <p>{{card.name}}</p>
        {% endfor %}
    </div>
    <div class = 'container-games'><p> player score is {{state.player_score()}}</p></div>
    

      <a  class="btn" href="{{url_for('games.blackjack', action = '3')}}">NEXT</a>
      {% for card in state.dealer_hand %}
      <div><p> dealer card is a {{card.name}}</p></div>
      
      {% endfor %}
      <div><p> dealer score is  {{state.dealer_score()}}</p></div>
    {% endif %}
    
    
    {% else %}
    {% if state.get_winner() == 0 %}
    <div><p> ITS A TIE</p></div>
    {% elif state.get_winner() == 1 %}
    <div><p> YOU WIN</p></div>
    {% elif state.get_winner() == -1 %}    
    <div><p> YOU  LOSE</p></div>
    {% endif %}
    
    <div><p>Your Score: {{state.player_score()}}</p></div>
    <div><p>Dealer Score: {{state.dealer_score()}}</p></div>
    <a  class="btn" href="{{url_for('games.blackjack', action = 'NEW')}}">NEW GAME</a>
    

    {% endif %}
    
    
  {% endif %} 
    {% endblock %}

<body class="body-games">
  <div class="games-full">
    <div class="blackjack-box">
      <img src="{{url_for('static', filename='imagenes/casino_racoon.jpg')}}" alt="Black Jack" class="blackjack-img">
    </div>
  </div>
</body>
