<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <title>Dashboard</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" type = "text/css" href="{{ url_for('static',filename = 'styles.css') }}">
</head>
<body>
    <div class = 'login-box'>
    <div class = 'login-box'>
  <main class="card">
    <h1>Dashboard</h1>
    <!-- <div class="day_schedule">
      <h2>Horario del día</h2>
      {% if schedule %}
        <ul>
          {% for item in schedule %}
            <li>{{ item.time }} - {{ item.activity }}</li>
          {% endfor %}
        </ul>
      {% else %} -->
        <!-- <p>No hay actividades programadas para hoy.</p>
      {% endif %} -->
    </div> 
    <p style = "margin:15px; font-size: 2rem">Selecciona una sección</p>
    <div class="actions">
      <a class="btn" href="{{ url_for('create_hobby') }}">Hobbies</a>
      <a class="btn" href="{{ url_for('movies') }}">Películas</a>
      <a class="btn" href="{{ url_for('todo') }}">Lista de tareas</a>
      <a class="btn" href="{{ url_for('create_schedule_item') }}">Mi Horario</a>
    </div>
  </main>
    </div>
    </div>
</body>
</html>


