{% extends "base.html" %}

{% block head %}
<title>Juegos</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
{% endblock %}

{% block body %}
<body class="body-games">
  <div class="games-full">
    <div class="blackjack-box">
      <img src="{{ url_for('static', filename='imagenes/casino_racoon.jpg') }}" alt="Black Jack" class="blackjack-img">
      <a href="/dashboard/blackjack" class="blackjack-btn">Jugar Black Jack</a>
    </div>
  </div>
</body>
{% endblock %}
