{% extends "base.html" %}

{% block head %}
<title>Juegos</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
{% endblock %}

{% block body %}




<body class="body-games">
  <div class="games-full">
    <form class="blackjack-box" action = "/dashboard/blackjack" method="post">
      <img id = 'img1' src="{{ url_for('static', filename='imagenes/casino_racoon.jpg') }}" alt="Black Jack" class="blackjack-img-show" >
      <img id = 'img2' src="{{ url_for('static', filename='imagenes/casino_racoon.jpg') }}" alt="Black Jack" class="blackjack-img-hide" >
      <div class="input-group">
          <label for="password">Apuesta</label>
          <input type="number" id="bet" name="bet" placeholder="Apuesta por defecto : 10" required>
        </div>
      <button  href="/dashboard/blackjack" class="blackjack-btn" type="submit">Jugar Black Jack</a>
    </form>
  </div>
      
<script type = "text/javascript">

  var activate_image_id = 1;
  var next_image_id = 1;

  setInterval(function(){

    if (document.getElementById('img1').classList[0] == 'blackjack-img-hide'){
    
      document.getElementById('img1').classList.replace("blackjack-img-hide","blackjack-img-show");
    document.getElementById('img2').classList.replace("blackjack-img-show","blackjack-img-hide");
    
  } else {

    document.getElementById('img1').classList.replace("blackjack-img-show","blackjack-img-hide");
    document.getElementById('img2').classList.replace("blackjack-img-hide","blackjack-img-show");
  }
  },1);
</script>
</body>
{% endblock %}
