{% extends "base.html" %}

{% block head %}
<title>Hobby</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
{% endblock %}

{% block body %}
<div class = 'login-box'>
  <div class="container">
    <h1>Hobby</h1>
    <p>En este apartado puedes agregar los hobbies que realizas en tu día a día.</p>

    <form action="{{  url_for('create_hobby')  }}" method="post">
      <div class="form-group">
        <label for="name">Nombre</label>
        <input class="textbox" id="name" type="text" name="name" placeholder="p.ej. Pintar" required>
      </div>

      <div class="form-group">
        <label for="satisfaction_level">Nivel de satisfacción (1-10)</label>
        <input class="textbox" id="satisfaction_level" type="number" name="satisfaction_level" min="1" max="10" required>
      </div>

      <div class="form-group">
        <label for="ability">Habilidad</label>
        <input class="textbox" id="ability" type="text" name="ability" placeholder="bajo / medio / alto" required>
      </div>

      <div class="form-group">
        <label for="time">Tiempo (horas/semana)</label>
        <input class="textbox" id="time" type="number"  name="time" min="0" required>
      </div>

      <button class="btn" type="submit">Guardar</button>
    </form>
  </div>
  </div>
{% endblock %}