{% extends "base.html" %}

{% block head %}
    <title>Estudio</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

{% endblock %}

{% block body %}
<body>
 <div class="container-hobby-all">
        <div class = 'login-box'>
            <div class = 'login-box'>
                <main class="card">
                    <h1>Estudio</h1>
                    <p style="margin:15px; font-size: 2rem">
                        Selecciona una herramienta
                    </p>
                </main>
            </div>
        </div>
        </div>
</body>
{% endblock %}