<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
  <title>ToDo</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" type = "text/css" href="{{ url_for('static',filename = 'styles.css') }}">
</head>
<body>
  <div class = "task-container">
    <h1>Lista de tareas</h1>
      
      <tbody>
      {% if tasks %}
        {% for task in tasks %}
        <tr>
          {% if task.completed %}
          <div class = "task-box-complete">
            <td>{{task.name}}</td>
          </div>
          <a class = "task-btn";">Quitar</a>
            {% else %}
            <div class = "task-box-incomplete">
              <td>{{task.name}}</td>
            </div>
            <a class = "task-btn"">Completar</a>
          {% endif %}
        </tr>
        {% endfor %}
      {% else %}
      <div class="main-box">
        <tr>
          <td colspan="5">No hay tareas</td>
        </tr>
      </div>
      {% endif %}
      
      <form action="{{ url_for("create_task") }}" method="post">
          <div class="task-input">
              <input type="text" id="task_name" name="task_name" placeholder="Nueva tarea" required>
          </div>  
        <button class = "create-task-btn" type = 'submit'>Crear<a>
    </form>
    </tbody>
  </div>
</body>
</html>