/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("imagenes/fondo_login_akali.jpeg") no-repeat center center/cover;
  position: relative;
  overflow: hidden;
  font-family: Arial, sans-serif;
}

/* Capa oscura encima del fondo */
.overlay {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.6);
  z-index: 0;
}

.container {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  position: relative;
  z-index: 1;
}

/* Efecto pergamino digital */
.login-box {
  background: #fdf3d9; /* color pergamino */
  padding: 35px 30px;
  border-radius: 12px;
  border: 2px solid #a9744f;
  box-shadow: 
    0 8px 20px rgba(0,0,0,0.5),      /* sombra externa */
    inset 0 0 60px rgba(139,69,19,0.2), /* manchas internas */
    inset 0 0 20px rgba(0,0,0,0.15);    /* bordes oscuros */
  text-align: center;
}

/* Título estilo medieval */
.login-box h1 {
  margin-bottom: 20px;
  font-size: 2.5rem;
  font-family: 'MedievalSharp', cursive;
  color: #5b3924;
}

.main-box  {
  padding: 5px;
  background: #5b3924;
  border-radius: 25px;
  margin-bottom: 20px;
  font-size: 2rem;
  margin: 10px;
  font-family: 'MedievalSharp', cursive;
  color: beige;
}

.task-container{
  background-color: #fdf3d9; /* color pergamino */
  padding: 15%  5%;
  border-radius: 12px;
  border: 2px solid #a9744f;
  box-shadow: 
    0 8px 20px rgba(0,0,0,0.5),      /* sombra externa */
    inset 0 0 60px rgba(139,69,19,0.2), /* manchas internas */
    inset 0 0 20px rgba(0,0,0,0.15);    /* bordes oscuros */
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

.task-container h1 {
  
  margin-bottom: 20%;
  font-size: 1.5rem;
  font-family: 'MedievalSharp', cursive;
  color: #5b3924;
}
.task-box-complete  {
  
  width: 200px;
  padding: 5px;
  background: #106b04;
  border-radius: 25px;
  margin-bottom: 20px;
  font-size: 1rem;
  font-family: 'MedievalSharp', cursive;
  color: beige;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  display: inline-block;


}
.task-box-incomplete  {
  
  width: 200px;
  padding: 5px;
  background: #472601dc;
  border-radius: 25px;
  margin-bottom: 20px;
  font-size: 1rem;
  font-family: 'MedievalSharp', cursive;
  color: beige;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  display: inline-block;
}


/* Campos */
.input-group {
  margin-bottom: 15px;
  text-align: left;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 0.9rem;
  color: #2c1810;
  font-weight: bold;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #8b5e3c;
  border-radius: 8px;
  font-size: 1rem;
  background: #fffdf5; /* fondo claro pergamino */
}

.input-group input:focus {
  outline: none;
  border-color: #d35400;
  background: #fff8e1;
}

.task-input {

  margin-top: 15%;
  text-align: left;
  display:inline
}

.task-input input{
    width: 75%;
  padding: 10px;
  border: 1px solid #8b5e3c;
  border-radius: 20px;
  font-size: 1rem;
  background    : #fffdf5; /* fondo claro pergamino */
  display: inline;
}


/* Botón */
.btn {
  width: 100%;
  padding: 12px;
  background: linear-gradient(180deg, #d4a373, #8b5e3c);
  border: 2px solid #5b3924;
  border-radius: 6px;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 0px;
  transition: 0.3s;
  font-family: 'MedievalSharp', cursive;
}

.btn:hover {
  background: linear-gradient(180deg, #8b5e3c, #5b3924);
}

.task-btn {
  width: 15px;
  height: 5px;
  padding: 5px;
  background: linear-gradient(180deg, #d4a373, #8b5e3c);
  border: 1px solid #5b3924;
  border-radius: 18px;
  color: #fff;
  font-size: 0.9rem;
  cursor: pointer;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 0;
  margin-right: 0%;
  transition: 0.3s;
  font-family: 'MedievalSharp', cursive;
}
.create-task-btn {
  width: 20%;
  height: 5%;
  padding: 10px;
  background: linear-gradient(180deg, #d4a373, #8b5e3c);
  border: 2px solid #5b3924;
  border-radius: 18px;
  color: #fff;
  text-align: center;
  font-size: 0.9rem;
  cursor: pointer;
  margin-top: 2cm;
  transition: 0.3s;
  font-family: 'MedievalSharp', cursive;
  display: inline;
}


/* Texto inferior */
.extra {
  margin-top: 15px;
  font-size: 0.9rem;
  color: #2c1810;
}

.extra a {
  color: #8b5e3c;
  font-weight: bold;
  text-decoration: none;
}

/* css hobby*/
.container-hobby-all{
    display: flex;
  justify-content: center;
    flex-direction: row;
  align-items: center;
  gap: 30px;
  padding: 40px;
  min-height: 100vh;
}

.container-hobby {

    background: #fdf3d9; /* color pergamino */
  padding: 35px 30px;
  border-radius: 12px;
  border: 2px solid #a9744f;
  box-shadow:
    0 8px 20px rgba(0,0,0,0.5),      /* sombra externa */
    inset 0 0 60px rgba(139,69,19,0.2), /* manchas internas */
    inset 0 0 20px rgba(0,0,0,0.15);    /* bordes oscuros */
  text-align: center;
}

.container-hobby-all h1 {
  margin-bottom: 20px;
  font-size: 2.5rem;
  font-family: 'MedievalSharp', cursive;
  color: #5b3924;
}

.container-hobby-all p {
    margin-bottom: 20px;
    font-size: 1rem;

    color: #5b3924;
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: #5b3924;
}

.form-group label {
    display: flex;
    margin-bottom: 5px;
    font-size: 1rem;
}

.form-group input{
    width: 100%;
    padding: 10px;
    border: 1px solid #8b5e3c;
    border-radius: 8px;
    font-size: 1rem;
    background: #fffdf5;
}

.container-hobby-search{
    flex: 1;
  max-width: 450px;
  padding: 20px;
   background: #fdf3d9;
  border-radius: 8px;
    box-shadow:
    0 8px 20px rgba(0,0,0,0.5),      /* sombra externa */
    inset 0 0 60px rgba(139,69,19,0.2), /* manchas internas */
    inset 0 0 20px rgba(0,0,0,0.15);    /* bordes oscuros */
  color: #333; /* Color de texto */
}

.container-hobby,
.container-hobby-search{
  width: 100%;       /* Ocupan el ancho disponible */
  max-width: 500px;/* Pero no más de 500px para que no se vean muy anchos */
}

.body-hobby{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    background: #d4a373;
}

/* ---------- Mensajes Flash ---------- */
.flash-container {
    position: fixed;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2000;
    width: 80%;
      text-align: center;
    animation: fadeIn 0.4s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate(-50%, -20px);
    }
    to {
        opacity: 1;
        transform: translate(-50%, 0);
    }
}

/* Personalización del color del mensaje de error */
.alert-danger {
    background-color: #6f4d38;
    color: white;
    border: none;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
    border-radius: 25px;
    padding: 10px 20px 10px 20px;
    border: 2px solid #c23b3b;
    max-width: 400px;
    margin: 20px auto;
    text-align: center;

}



